<div fxLayout="row">
    <h2 style="width: 40%">Manage low stock listings</h2>
</div>
<div fxLayout="row" style="margin-top: 10px;">
    <p style="width: 80%">Restock advice for items that are likely to sell out in the next four weeks based on your current sales rate.</p>
</div>
<mat-card>
    <mat-card-header>
        <mat-card-title>
          <h2>Results with low stock levels</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content">
          We currently have not identified listings that will run out of stock soon. Please check again later.
      </div>
    </mat-card-content>
</mat-card>