<div fxLayout="row">
    <h2 style="width: 40%">Manage listing templates</h2>
    <div style="width: 60%; text-align: right;">
        <button mat-raised-button color="primary" (click)="createTemplate()">Create new template</button>
    </div>
</div>
<mat-card class="mt-20" style="min-height:600px">
    <mat-card-content style="max-width: 700px;margin: 200px auto;">
        <div fxLayout="row">
            <h1>Simplify the way you list items by creating reusable templates</h1>
        </div>
        <div fxLayout="row">
            <p class="mt-35">- Give your buyers consistent info from listing to listing</p>
        </div>
        <div fxLayout="row mt-35">
            <p class="mt-35">- Revise, rename or delete templates whenever you want</p>
        </div>
        <div fxLayout="row mt-35">
            <p class="mt-35">- Create up to 50 different templates</p>
        </div>
        <div fxLayout="row">
            <p class="mt-20" style="width:100%;text-align:center">
                <button mat-raised-button color="primary" (click)="createTemplate()">Create new template</button>
            </p>
        </div>

    </mat-card-content>
</mat-card>

<p style='font-size:12px;margin-top:20px;'> Copyright © 2018 Africunia Inc. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies and AdChoice</p>