.mt-20 {
    margin-top: 20px;
}

.total {
    font-size: 18px;
}

.square {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}

.info {
    color: rgb(118, 118, 118);
    font-size: 0.75rem
}

.warning {
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: large; 
    font-weight: 200;
}