<div class="more">
    <div class="title">Get more out of my Vendasity</div>
    <div class="sub-title">vendasity's a big place, so here's your space to track of items that matter most to you.</div>
    <ul class="actions">
      <li class="deals">
        <img src="assets/images/glass_ico.png">
        <b>Find deals</b>
          on items just for you.
        <a href="javascript:;">
          <b class="gh-ar-hdn"><b>Find deals</b> on items just for you.</b
          >Learn more.
        </a>
      </li>
      <li class="watch">
        <img src="assets/images/glass_ico.png">
        <b>Watch favorite</b>
          sellers and searches.
          <a href="javascript:;">
          <b class="gh-ar-hdn"><b>Watch favorite</b> sellers and searches.</b>Learn more.
        </a>
      </li>
      <li class="save">
        <img src="assets/images/file_ico.png">
        <b>Save items</b>
          you want to buy or bid on.
        <a href="javascript:;">
          <b class="gh-ar-hdn"><b>Save items</b>
            you want to buy or bid on.</b>Learn more.
        </a>
      </li>
      <!-- <li class="track">
        <img src="">
        <b>Track selling</b>
          of your listed items.
          <a href="javascript:;">
          <b class="gh-ar-hdn"><b>Track selling</b> of your listed items.</b>Learn more.
          </a>
      </li> -->
    </ul>
  </div>
  <div class="hot" *ngIf="false">
    <div class="title">Find hot buys on Vendasity</div>
    <ul class="actions">
      <li class="motors">
        <b>Save on parts and more for your vehicle</b>
        <a href="javascript:;">
          <b class="gh-ar-hdn">Save on parts and more for your vehicle</b>Go
        </a>
      </li>
      <li class="fashion">
        <b>Fashion finds for everyone</b>
        <a href="javascript:;">
          <b class="gh-ar-hdn">Fashion finds for everyone</b>
          Start shopping
        </a>
      </li>
      <li class="electronics">
        <b>Your destination for everything tech</b>
        <a href="javascript:;">
          <b class="gh-ar-hdn">Your destination for everything tech</b>
          Shop now
        </a>
      </li>
    </ul>
  </div>