<div id="sidebar">
  <mat-nav-list>
      <a mat-list-item routerLink="summary" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Summary</a>
      <a mat-list-item routerLink="bid_offer" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Bids/Offers</a>
      <a mat-list-item routerLink="recently_viewed" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Recently Viewed</a>
      <a mat-list-item routerLink="purchase_history" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Purchase history</a>
  </mat-nav-list>
</div>
  