<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Listings</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-button color="primary">Create listing</button>
    <div>
      <label>Drafts</label>
    </div>    
    <div fxLayout="row" class="overview-item-info">
      <label>Active listings</label>
      <p>95</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label class="child">with questions</label>
      <p>10</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label class="child">with open offers from buyers</label>
      <p>0</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label class="child">all actions</label>
      <p>0</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label>Unsold ended listings</label>
      <p>0</p>
    </div>
    <button mat-button color="primary">
      Show more
    </button>
  </mat-card-content>
  <mat-card-actions>
    <a href="javascript:void(0)" class="float-right card-inverse">
        View Details
    </a>
  </mat-card-actions>
</mat-card>