<div id="sidebar">
    <mat-nav-list>
        <label>LISTINGS</label>
        <a mat-list-item [routerLink]="['active']">
          Active
      </a>
        <a mat-list-item [routerLink]="['unsold']">
          Unsold
      </a>
        <a mat-list-item [routerLink]="['drafts']">
          Drafts
      </a>
        <hr>
        <label>SETTINGS</label>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['listTemplate']">
        Listing Templates
      </a>
        <!--<a mat-list-item [routerLinkActive]="'active'" [routerLink]="['schedule']">
          Scheduled
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['ended']">
          Ended
      </a>
      <hr>
      <label>PRODUCT REQUESTS</label>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['prRequest']">
        All
      </a>
      <hr>
      <label>SETTINGS</label>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['listTemplate']">
        Listing Templates
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
        Business Policies
      </a>-->
    </mat-nav-list>
</div>