<div id="sidebar">
  <mat-nav-list>
      <a mat-list-item routerLink="summary" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Summary</a>
      <!--<a mat-list-item [routerLink]="['summary']">Seller level</a>-->
      <a mat-list-item routerLink="sales" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Sales</a>
      <a mat-list-item routerLink="sellingcost" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Selling costs</a>
      <a mat-list-item routerLink="traffic" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Traffic</a>
      <!--<a mat-list-item routerLink="impression" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Impression</a>-->
      <!--<a mat-list-item [routerLink]="['summary']">Service Metrics</a>-->
  </mat-nav-list>
</div>
  