h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.mat-card {
    height: 140px;
    width: 94%;
    .mat-card-header {
        width: 50%;
    }
    .mat-card-title {
        text-align: right;
    }
    .mat-card-content {
        width: 50%;
    }
    margin-bottom: 15px;
}

.content {
    border-right: 1px solid #ddd;
}

button {
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
}

a {
    text-decoration: none;
    margin-left: 85px;
}