<mat-card>
    <div fxFlex fxFlexFill class="content">
      <mat-card-header>
        <mat-card-title>
          <h2>Branding</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>Tell buyers who you are and what makes your Store different</p>
      </mat-card-content>
    </div>
    <div fxFlex fxFlexFill>
      <button mat-raised-button color="primary" (click)="click_getStated('1')">Get Started</button>
    </div>
</mat-card>
<mat-card>
    <div fxFlex fxFlexFill class="content">
      <mat-card-header>
        <mat-card-title>
          <h2>Merchandising</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>Attract buyers with compelling promotions and sell more per visit</p>
      </mat-card-content>
    </div>
    <div fxFlex fxFlexFill>
      <button mat-raised-button color="primary"(click)="click_getStated('2')">Get Started</button>
    </div>
</mat-card>
<mat-card>
    <div fxFlex fxFlexFill class="content">
      <mat-card-header>
        <mat-card-title>
          <h2>Advertising</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>Go beyond your current reach and target new buyers</p>
      </mat-card-content>
    </div>
    <div fxFlex fxFlexFill>
      <div fxFlexFill>
        <button mat-raised-button color="primary" (click)="click_getStated('3')">Get Started</button>
      </div>
      <a href="javascript:;" style="color:#868686;">
          <span>Learn more</span>
      </a>
    </div>
</mat-card>
<div fxLayout="row">
  <p>Copyright © 2018 VENDASITY</p>
  <a href="javascript:;">
    <span>Accessibility</span>
  </a>
  <a href="javascript:;">
      <span>User Agreement</span>
  </a>
  <a href="javascript:;">
      <span>Privacy</span>
  </a>
  <a href="javascript:;">
      <span>Cookies and AdChoice</span>
  </a>
</div>

