<app-main-carousel [slides]="slides"></app-main-carousel>
<div fxLayout="row wrap" class="info-bar" style="margin-bottom : 50px;">
    
    <div fxFlex="100" fxFlex.gt-md="40" fxFlex.gt-xs="50">
        <div fxLayout="column" class="content">
            <div fxLayout="column" fxLayoutAlign="left left" class="content">
                <h2>What are you interests?</h2>
                <button mat-raised-button color="primary" style="margin-top : 50px; width: 150px;">Get Started</button>
            </div>
        </div> 
    </div>
    <div fxFlex="100" fxFlex.gt-md="15" fxFlex.gt-xs="50">
        <div class="content">
            <div class="p-0">
                <img src="assets/images/interests/1.JPG" style="width : 150px; height : 150px;">
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="15" fxFlex.gt-xs="50">
        <div class="content">
            <div class="p-0">
                <img src="assets/images/interests/2.JPG" style="width : 150px; height : 150px;">
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="15" fxFlex.gt-xs="50">
        <div class="content">
            <div class="p-0">
                <img src="assets/images/interests/3.JPG" style="width : 150px; height : 150px;">
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="15" fxFlex.gt-xs="50">
        <div class="content">
            <div class="p-0">
                <img src="assets/images/interests/4.JPG" style="width : 150px; height : 150px;">
            </div>
        </div>
    </div>
</div>

<app-featured [featured]="banners"></app-featured>

<h1>When They Want Tech</h1>

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/Tech/1.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>The Big Picture</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div fxLayout="column" class="content" fxLayoutAlign="center center">
            <img src="assets/images/Tech/2.JPG" style="width : 150px; height : 150px;">
            <br/>
            <a>Switch it Up</a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/Tech/3.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Google Home</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/Tech/4.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Bose Headphones</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/Tech/5.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>A View From Above</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/Tech/6.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Apple's Latest</a>
            </div>
        </div>
    </div>
</div>


<app-banners [banners]="banners"></app-banners>

<h1>It's Happening Here</h1>

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/happening/1.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>KKW Beauty</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div fxLayout="column" class="content" fxLayoutAlign="center center">
            <img src="assets/images/happening/2.JPG" style="width : 150px; height : 150px;">
            <br/>
            <a>Dark Souls:Solaire of Astora amiibo</a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/happening/3.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Louis Vuitton x Grace Coddington</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/happening/4.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Tommy Hilfiger Outdoors Collection</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/happening/5.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Harry Potter Kano Coding Kit</a>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="16" fxFlex.gt-xs="50">
        <div class="content">
            <div fxLayout="column" class="content" fxLayoutAlign="center center">
                <img src="assets/images/happening/6.JPG" style="width : 150px; height : 150px;">
                <br/>
                <a>Air Jordan 11</a>
            </div>
        </div>
    </div>
</div>

<div class="products-tabs" style="margin-bottom : 50px;">

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
        <mat-tab label="Featured">
            <app-products-carousel [products]="featuredProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="On Sale">
            <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab>
    </mat-tab-group>

</div>

<h1>Featured Sales & Events</h1>

<app-events-carousel [events]="events"></app-events-carousel>

<h1>Editor's Picks</h1>

<app-picks-carousel [picks]="picks"></app-picks-carousel>

<app-brands-carousel [brands]="brands"></app-brands-carousel>