.offer-type-container {
  margin-bottom: 15px;
  display: flex;
}

select {
  padding: 8px;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

mat-radio-button {
  margin-top: 7px;
}

.n_p {
  margin-top: 7px;
  float: left;
  margin-left: 10px;
}
