<mat-toolbar class="top-navbar mat-elevation-z2" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <a mat-button routerLink="/sellerhub/overview" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Overview</a>
    <a mat-button routerLink="/sellerhub/orders/all" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Orders</a>
    <a mat-button routerLink="/sellerhub/listings/active" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Listings</a>
    <a mat-button routerLink="/sellerhub/marketing/summary" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Marketing</a>
    <!--<a mat-button routerLink="/sellerhub/performance/summary" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Performance</a>-->
    <!--<a mat-button routerLink="/sellerhub/growth" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Growth</a>-->
</mat-toolbar>