#search_up {
    width:15px;
    height:15px;
    float:left;
}
#search_down {
    width:15px;
    height:15px;
    float:left;
    display:none;
}
#matSelect {
    width:175px;
}
.mt-20 {
    margin-top:20px;
}