.sm-su {
    color: #209900;
    border-top: 3px solid #5ba71b!important;
}
.sm-co {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 4px 4px 0 #eee;
    padding: 10px 10px 20px;
}
#main-content #ss-msg {
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    color:#0654ba;
}

.my-container .item-list {
    border: 0;
    background: transparent;
}
.my-container {
    margin-bottom: 20px;
    margin-top: 3px;
}
#biddinglist .container-header {
    background-color: transparent;
    color: #fff;
    padding: 0;
    height: 100%;
    margin-bottom: 0;
    border-radius: 3px;
}
#biddinglist .container-header .container-title-pref {
    background-color: #ddd;
    color: #585858;
    padding: 7px 10px;
    height: 30px;
    border-radius: 3px;
}
.my-container.item-list .ajax-wrap {
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    background: #fff;
}
.my-container .no-rows {
    background-color: #fff;
    padding: 20px;
    font-size: .9em;
}
b, strong {
    font-weight: bold;
}
.line-seperator {
    padding-bottom: 10px;
    display: block;
}
#offerList {
    border: 0;
    margin-top: 0;
    background: transparent;
}
#didntWinList {
    border: 0;
    margin-top: 0;
    background: transparent;
}

.parent-container-header {
    background-color: #ddd;
    color: #585858;
    padding: 7px 10px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 6px;
}
.parent-container-header .container-title {
    font-size: 20px;
    color: #585858;
    font-weight: normal;
    float: left;
    line-height: 19px;
}

.my-container.item-list .container-header .container-title {
    font-size: 20px;
    color: #585858;
    font-weight: normal;
}
.my-container .container-header .container-title {
    float: left;
    line-height: 19px;
}

.my-container.item-list {
    border: 0;
    background: transparent;
}

#didntWinList .parent-container-header .container-title {
    font-size: 20px;
    color: #585858;
    font-weight: normal;
}

.my-container.item-list .container-header {
    background-color: #ddd;
    border-radius: 3px;
    padding: 7px 10px;
    margin-bottom: 6px;
}
    
.my-container .container-header {
    background-color: #ddd;
    border-radius: 3px;
    padding: 7px 10px;
    margin-bottom: 6px;
}
