<div class="sm-co sm-su msg sm-md msg-content">
  Items you didn't win will now show in the 
  <a href="javascript:;">
    Didn't Win
  </a>
   section of this page.
</div>
<div id="biddinglist" class="my-container item-list ten-less-items no-item">
  <div class="container-header">
    <div class="container-title-pref">
      <h2 class="container-title">Bidding </h2>
      <div class="edit-pref-r">
      </div>
    </div>
  </div>
  <div class="ajax-wrap">
    <div class="no-rows">
      <span class="">
        <b>You are not bidding on any items.</b> 
        <span class="line-seperator"></span>
        <div class="info-msg">To see items you were bidding on that have ended, go to 
          <a href="javascript:;">Purchase History</a> or 
          <a href="javascript:;">Didn't Win</a>.
        </div></span>
        <div>
          <a class="live-auction-msg" href="javascript:;">
            See your live auction bids
          </a>
        </div> 
    </div>
  </div>
</div>
<div id="offerList" class="my-container item-list">  
  <div class="parent-container-header"> 
    <div class="container-title">Offers </div>
    <div class="edit-pref-r"></div> 
  </div>
  <div class="ajax-wrap">
    <div class="no-rows">
      <span class="">
        <b>You don't have any offers now. </b> 
        <span class="line-seperator">

        </span>
        <div class="info-msg">
          To see items you had offers on that have ended, go to 
          <a href="javascript:;">Purchase History</a> or 
          <a href="javascript:;">Didn't Win</a>. 
        </div>
      </span>
    </div>
  </div>
</div>
<div id="didntWinList" class="my-container item-list">  
    <div class="parent-container-header"> 
      <div class="container-title">Didn't Win </div>
      <div class="edit-pref-r"></div> 
    </div>
  <div class="ajax-wrap">
      <div class="no-rows"> 
        <b>You don't have any items to display.</b>
        <span class="line-seperator"></span>
        <div class="info-msg">Items you didn't win will show here for 60 days after ending or until you delete them.</div>
      </div>
    </div>
</div>
