<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button [routerLink]="['/account/activity', 'summary']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Activity</a>
    <a mat-button [routerLink]="['/account/message', 'inbox']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Messages</a>
    <a mat-button [routerLink]="['/account/account', 'businessInfo']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Account</a>
    <!-- <a mat-button [routerLink]="['/account', 'application']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Applications</a> -->
</mat-toolbar>

