<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Orders</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-button color="primary">See all orders</button>
    <div fxLayout="row" class="overview-item-info">
      <label>Awaiting delivery - print postage label</label>
      <p>0</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label>All open returns replace elements</label>
      <p>0</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label>Open calcel reasons</label>
      <p>0</p>
    </div>
    <div fxLayout="row" class="overview-item-info">
      <label>Awaiting payment</label>
      <p>0</p>
    </div>
    <button mat-button color="primary">
      Show more
    </button>
  </mat-card-content>
  <mat-card-actions>
    <a href="javascript:void(0)" class="float-right card-inverse">
        View Details
    </a>
  </mat-card-actions>
</mat-card>