<div id="sidebar">
    <mat-nav-list>
        <label>My Account</label>
        <a mat-list-item routerLink="businessInfo" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">
            Business Infomation
        </a>
        <a mat-list-item routerLink="feedback" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">
          Feedback
        </a>
        <a mat-list-item routerLink="excoincial" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">
          Excoincial Account
        </a>
        <a mat-list-item routerLink="sellerAccount" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">
          Seller Account
        </a>
        <a mat-list-item routerLink="communication" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">
          Communication
        </a>
    </mat-nav-list>
  </div>
  